@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float:none;
}

a:hover, a:active {
    text-decoration: none;
}

img {
  max-width: 100%;
}

.mb10 {
  margin-bottom: 5%;
}
