<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand centered" href="<%= products_path %>">DISHY</a>
    </div>
  </div>
</nav>
